.column{
	border: 1px black solid;
}
.top-bar.top-bar.top-bar.top-bar.top-bar.top-bar{
	margin-bottom: 150px;
}
.div-buttons.div-buttons.div-buttons.div-buttons.div-buttons{
	display: flex;
	justify-content: space-between;
}