/* .column{
	border: 1px black solid;
} */
.top-bar.top-bar.top-bar.top-bar.top-bar.top-bar{
	margin-bottom: 150px;
}
.user_control.user_control.user_control.user_control.user_control{
	display: flex;
}